@import url("//hello.myfonts.net/count/4120f3");

@font-face {
  font-family: "Kaapeli-Bold";
  src: url("webFonts/KaapeliBold/font.woff2") format("woff2"),
    url("webFonts/KaapeliBold/font.woff") format("woff");
}
@font-face {
  font-family: "Kaapeli-Book";
  src: url("webFonts/KaapeliBook/font.woff2") format("woff2"),
    url("webFonts/KaapeliBook/font.woff") format("woff");
}

body {
  background-color: #000;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: "Cutive Mono";
}

#city,
#temperature,
#city-input,
#humidity,
#wind,
#description {
  color: #fff !important;
}

body,
#city-input,
input,
button,
submit,
#city,
#search-form,
.search-form {
  font-family: "Cutive Mono", arial, sans-serif !important;
}

h1,
#temperature,
.temperature,
#city-input,
.units,
.weather-ap- {
  color: #fff;
  line-height: 1em;
  margin: 0;
  font-size: 4em;
  font-family: "Cutive Mono" !important;
}

#city-input {
  font-size: 2em;
  margin-bottom: 1em;
}

.units {
  font-size: 1em;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
  letter-spacing: 0.2em;
}

.weather-app {
  border: 1px solid #fff;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.weather-app {
  background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.3;
}
